.movie {
  height: calc(100vh - 64px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.movie__dark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
}
.movie > .ant-row {
  height: 100%;
  display: flex;
  align-items: center;
}
.movie__poster {
  height: 70%;
}
.movie__poster div {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: center;
}
.movie__info {
  height: 70%;
  color: #fff;
}
.movie__info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie__info-header h1 {
  color: #fff;
  margin: 0;
  font-size: 60px;
}
.movie__info-header h1 span {
  font-size: 20px;
  margin-left: 10px;
  opacity: 0.5;
}
.movie__info-header button {
  height: 100%;
  background-color: transparent;
  color: #fff;
  border: 0;
  font-size: 25px;
}
.movie__info-header button:hover,
.movie__info-header button:focus,
.movie__info-header button:active {
  background-color: transparent;
  color: turquoise;
}
.movie__info-content {
  margin-top: 50px;
}
.movie__info-content h3 {
  color: #fff;
  font-weigth: bold;
  font-size: 24px;
}
